<div class="container">
  <mat-tab-group class="container">
    <mat-tab label="Databinding">
      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <input matInput [(ngModel)]="twoWayText">
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="onReverseText()" [disabled]="twoWayText.length < 2">Reverse</button>
        <button mat-raised-button color="primary" (click)="onResetText()" [disabled]="!twoWayText">Reset</button>
      </div>
      <h1>
        input: {{ twoWayText }}
      </h1>
      <div>
        Try "show secret button"
      </div>
      <ng-container *ngIf="twoWayText === 'show secret button';">
        <button mat-raised-button color="stroked" (click)="onSecretButton()">Secret button</button>
      </ng-container>
      <h1 [ngClass]="{'mult-of-ten': count % 10 === 0 && count > 0}">
        {{ count | currency }}
      </h1>
    </mat-tab>

    <mat-tab label="Use of services">
      <mat-form-field appearance="fill">
        <mat-label>Search on wikipedia</mat-label>
        <input matInput [(ngModel)]="wikiSearchTerm">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="onSearchWiki()">Go</button>

      <table mat-table [dataSource]="searchResults" class="mat-elevation-z8">
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <!-- Page Id Column -->
        <ng-container matColumnDef="pageid">
          <th mat-header-cell *matHeaderCellDef> Page Id </th>
          <td mat-cell *matCellDef="let element"> {{element.pageid}} </td>
        </ng-container>
        <!-- Size Column -->
        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef> Size </th>
          <td mat-cell *matCellDef="let element"> {{element.size}} </td>
        </ng-container>
        <!-- Wordcount Column -->
        <ng-container matColumnDef="wordcount">
          <th mat-header-cell *matHeaderCellDef> Word Count </th>
          <td mat-cell *matCellDef="let element"> {{element.wordcount}} </td>
        </ng-container>
        <ng-container matColumnDef="URL">
          <th mat-header-cell *matHeaderCellDef> URL </th>
          <td mat-cell *matCellDef="let element"> <a target="_blank"
              [href]=" 'http://en.wikipedia.org/?curid=' + element.pageid ">Link</a> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>